# Dependencies
node_modules/

# Build output
dist/
host.cmd
com.local.repo_ide_opener.json

# Logs
.logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment
.env
.env.*
